In [2]:
import pandas as pd

data = {
    "Title": [
        "Inception", "Interstellar", "The Dark Knight", "Parasite", "Avengers: Endgame",
        "The Matrix", "Gladiator", "Titanic", "Joker", "Mad Max: Fury Road",
        "The Godfather", "Pulp Fiction", "Schindler's List", "The Shawshank Redemption", "Fight Club"
    ],
    "Genre": [
        "Sci-Fi", "Sci-Fi", "Action", "Drama", "Action",
        "Sci-Fi", "Historical", "Romance", "Drama", "Action",
        "Crime", "Crime", "Drama", "Drama", "Drama"
    ],
    "Year": [
        2010, 2014, 2008, 2019, 2019,
        1999, 2000, 1997, 2019, 2015,
        1972, 1994, 1993, 1994, 1999
    ],
    "Director": [
        "Christopher Nolan", "Christopher Nolan", "Christopher Nolan", "Bong Joon-ho", "Anthony Russo",
        "Lana Wachowski", "Ridley Scott", "James Cameron", "Todd Phillips", "George Miller",
        "Francis Ford Coppola", "Quentin Tarantino", "Steven Spielberg", "Frank Darabont", "David Fincher"
    ],
    "Rating": [
        8.8, 8.6, 9.0, 8.6, 8.4,
        8.7, 8.5, 7.8, 8.5, 8.1,
        9.2, 8.9, 8.9, 9.3, 8.8
    ],
    "Audience_Million": [
        100, 120, 150, 80, 200,
        90, 50, 220, 85, 75,
        110, 95, 85, 130, 70
    ],
    "Budget_Million": [
        160, 165, 185, 11, 356,
        63, 103, 200, 55, 150,
        6, 8, 22, 25, 63
    ]
}

df = pd.DataFrame(data)

In [50]:
# 영화 장르가 Action인 영화만 출력
df.loc[df["Genre"]=="Action"]

,Title,Genre,Year,Director,Rating,Audience_Million,Budget_Million
2,The Dark Knight,Action,2008,Christopher Nolan,9.0,150,185
4,Avengers: Endgame,Action,2019,Anthony Russo,8.4,200,356
9,Mad Max: Fury Road,Action,2015,George Miller,8.1,75,150

In [56]:
#2010년 이후 개봉한 영화만 출력
df.loc[df["Year"]> 2010]

,Title,Genre,Year,Director,Rating,Audience_Million,Budget_Million
1,Interstellar,Sci-Fi,2014,Christopher Nolan,8.6,120,165
3,Parasite,Drama,2019,Bong Joon-ho,8.6,80,11
4,Avengers: Endgame,Action,2019,Anthony Russo,8.4,200,356
8,Joker,Drama,2019,Todd Phillips,8.5,85,55
9,Mad Max: Fury Road,Action,2015,George Miller,8.1,75,150

In [58]:
# 평점이 9.0 이상인 영화만 출력
df.loc[df["Rating"]>= 9.0]

,Title,Genre,Year,Director,Rating,Audience_Million,Budget_Million
2,The Dark Knight,Action,2008,Christopher Nolan,9.0,150,185
10,The Godfather,Crime,1972,Francis Ford Coppola,9.2,110,6
13,The Shawshank Redemption,Drama,1994,Frank Darabont,9.3,130,25

In [60]:
# Christopher Nolan이 감독한 영화만 출력
df.loc[df["Director"] == "Christopher Nolan"]

,Title,Genre,Year,Director,Rating,Audience_Million,Budget_Million
0,Inception,Sci-Fi,2010,Christopher Nolan,8.8,100,160
1,Interstellar,Sci-Fi,2014,Christopher Nolan,8.6,120,165
2,The Dark Knight,Action,2008,Christopher Nolan,9.0,150,185

In [78]:
# 제작비가 50백만 ~ 200백만 사이인 영화만 출력
df.loc[(df["Budget_Million"] > 50) & (df["Budget_Million"] < 200)]

,Title,Genre,Year,Director,Rating,Audience_Million,Budget_Million
0,Inception,Sci-Fi,2010,Christopher Nolan,8.8,100,160
1,Interstellar,Sci-Fi,2014,Christopher Nolan,8.6,120,165
2,The Dark Knight,Action,2008,Christopher Nolan,9.0,150,185
5,The Matrix,Sci-Fi,1999,Lana Wachowski,8.7,90,63
6,Gladiator,Historical,2000,Ridley Scott,8.5,50,103
8,Joker,Drama,2019,Todd Phillips,8.5,85,55
9,Mad Max: Fury Road,Action,2015,George Miller,8.1,75,150
14,Fight Club,Drama,1999,David Fincher,8.8,70,63

In [82]:
# 제작비가 100백만 이상인 영화만 필터링
df.loc[df["Budget_Million"] >= 100]

,Title,Genre,Year,Director,Rating,Audience_Million,Budget_Million
0,Inception,Sci-Fi,2010,Christopher Nolan,8.8,100,160
1,Interstellar,Sci-Fi,2014,Christopher Nolan,8.6,120,165
2,The Dark Knight,Action,2008,Christopher Nolan,9.0,150,185
4,Avengers: Endgame,Action,2019,Anthony Russo,8.4,200,356
6,Gladiator,Historical,2000,Ridley Scott,8.5,50,103
7,Titanic,Romance,1997,James Cameron,7.8,220,200
9,Mad Max: Fury Road,Action,2015,George Miller,8.1,75,150

In [84]:
# 관객수가 100백만 이상인 영화만 찾기
df.loc[df["Audience_Million"] >= 100]

,Title,Genre,Year,Director,Rating,Audience_Million,Budget_Million
0,Inception,Sci-Fi,2010,Christopher Nolan,8.8,100,160
1,Interstellar,Sci-Fi,2014,Christopher Nolan,8.6,120,165
2,The Dark Knight,Action,2008,Christopher Nolan,9.0,150,185
4,Avengers: Endgame,Action,2019,Anthony Russo,8.4,200,356
7,Titanic,Romance,1997,James Cameron,7.8,220,200
10,The Godfather,Crime,1972,Francis Ford Coppola,9.2,110,6
13,The Shawshank Redemption,Drama,1994,Frank Darabont,9.3,130,25

In [112]:
# 연도가 가장 큰값에 해당하는 (가장 최근) 해당하는 여화 찾기
df.sort_values(by="Year", ascending=False).head(1)

,Title,Genre,Year,Director,Rating,Audience_Million,Budget_Million
3,Parasite,Drama,2019,Bong Joon-ho,8.6,80,11

In [116]:
# 가장 오래된 영화 찾기
df.sort_values(by="Year", ascending=True).head(1)

,Title,Genre,Year,Director,Rating,Audience_Million,Budget_Million
10,The Godfather,Crime,1972,Francis Ford Coppola,9.2,110,6

In [120]:
# 데이터 프레임의 첫 5개 행만 출력
df.head(5)

,Title,Genre,Year,Director,Rating,Audience_Million,Budget_Million
0,Inception,Sci-Fi,2010,Christopher Nolan,8.8,100,160
1,Interstellar,Sci-Fi,2014,Christopher Nolan,8.6,120,165
2,The Dark Knight,Action,2008,Christopher Nolan,9.0,150,185
3,Parasite,Drama,2019,Bong Joon-ho,8.6,80,11
4,Avengers: Endgame,Action,2019,Anthony Russo,8.4,200,356